body {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    background: rgba(220, 220, 220, 0.5);
}

/* Desktop Screen View */

@media only screen and (min-width: 1224px) and (orientation: landscape) {

    *,
    *:before,
    *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    * {
        outline: none;
    }

    a {
        text-decoration: none;
        color: #000;
    }

    .main-container {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        height: auto;
        overflow: hidden;
    }

    .header {
        display: flex;
        background: #fff;
        grid-column: span 13;
        grid-row: 1;
        height: 60px;
        position: sticky;
        border-bottom: 1px solid #DBE0E4;
        box-shadow: 0 14px 18px rgba(0, 0, 0, 0.10);
    }


    .header .logo {
        display: flex;
        width: 11%;
        height: inherit;

    }

    .header i {
        margin: 20px;
        font-size: 25px;

    }


    nav {
        display: none;
    }

    ul > *{
        list-style-type: none;
    }
    .user-options{
        margin-left: 65%;
    }

    .user-options ul{
        display: flex;
        list-style: none;
    }

    .user-options li {
        margin: 6px 25px;
        font-size: 19px;
        color: #000;
    }

    .item{
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        position: relative;
        overflow: hidden;
      }
      .item:before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 51%;
        right: 51%;
        bottom: 0;
        background: #013243;
        height: 4px;
        -webkit-transition-property: left, right;
        transition-property: left, right;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
      }
      .item:hover:before, .item:focus:before, .item:active:before {
        left: 0;
        right: 0;
      }


    .content-container {
        grid-column: 2/12;
    }

    .content-container button {
        margin: 5% 40% auto;
        width: 190px;
        padding: 30px;
        border: none;
        cursor: pointer;
        background: #013243;
        color: #fff;
        border-radius: 6px;
    }


    .content-container .no-ad p {
        margin-left: 40%;

    }

    .cars-list, .details-list {
        list-style-type: none;
    }

    .cars-list {
        margin-top: 50px;
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .cars-list img{
        width: 250px; 
        border-radius: 6px;
    }

    .details-list li {
        margin-left: -40px;
    }

    .details-list button{
        margin: 5% 15% auto  -10%;
        width: auto;
        padding: 5px;
    }

    /* Ad form */

    input,
    select {
        width: 100%;
        padding: 15px;
        margin: 2px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
        border-radius: 5px;
    }

   

    input,
    select:focus {
        background-color: #ddd;
      
    }

    button {
        background-color: #013243;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }

    .cancelbtn {
        padding: 14px 20px;
        background-color: #f44336;
    }

    .cancelbtn,
    .createbtn {
        float: left;
        width: 40%;
        margin: 12.5px;
        padding: 15px;
        border-radius: 5px;
    }


    @keyframes animatezoom {
        from {transform: scale(0)} to {transform: scale(1)}
    }

    .form-container {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);
        padding-top: 50px;
        overflow: hidden;
        animation: animatezoom 0.6s;
    }


    /* Form Content/Box */

    .form-content {
        max-width: 500px;
        background-color: #fefefe;
        margin: -30px auto 15% auto;
        border: 1px solid #888;
        border-radius: 10px;
        padding: 15px;
        display: grid;
        grid-template-columns: auto auto;
    }

    .form-content label {
        padding: 20px;
    }

    .close {
        position: absolute;
        right: 35px;
        top: 15px;
        font-size: 40px;
        font-weight: bold;
        color: #f1f1f1;
    }

    .close:hover,
    .close:focus {
        color: #f44336;
        cursor: pointer;
    }


    .clearfix {
        margin-top: 110px;
        display: flex;
        margin-left: -250px;
    }

    .footer {
        grid-column: span 13;
        grid-row: 6;
    }

    .footer p {
        margin-top: 15%;
        text-align: center;
        font-size: 23px;
        font-weight: bold;
        color: #013243;
    }


}


/* Ipad screen size */

@media only screen and (max-width: 1024px) and (orientation: landscape) {

    * {
        outline: none;
    }

    a {
        text-decoration: none;
        color: #000;
    }

    .main-container {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        height: auto;
        overflow: hidden;
    }

    .header {
        display: flex;
        background: #fff;
        grid-column: span 13;
        grid-row: 1;
        height: 60px;
        position: sticky;
        border-bottom: 1px solid #DBE0E4;
        box-shadow: 0 14px 18px rgba(0, 0, 0, 0.10);
    }


    .header .logo {
        display: flex;
        width: 11%;
        height: inherit;

    }

    .header i {
        margin: 20px;
        font-size: 25px;

    }


    .user-options{
        margin-left: 55%;
    }

    .user-options ul{
        display: flex;
        list-style: none;
    }

    .user-options li {
        margin: 6px 25px;
        font-size: 19px;
        color: #000;
    }

    .item{
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        position: relative;
        overflow: hidden;
      }
      .item:before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 51%;
        right: 51%;
        bottom: 0;
        background: #013243;
        height: 4px;
        -webkit-transition-property: left, right;
        transition-property: left, right;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
      }
      .item:hover:before, .item:focus:before, .item:active:before {
        left: 0;
        right: 0;
      }

    .content-container {
        grid-column: 3/12;
    }

    .content-container button {
        margin: 5% 35% auto;
        width: 190px;
        padding: 30px;
        border: none;
        cursor: pointer;
        background: #013243;
        color: #fff;
        border-radius: 6px;
    }

    .content-container .no-ad p {
        margin-left: 35%;
    }


     /* Ad form */

     input,
     select {
         width: 100%;
         padding: 15px;
         margin: 2px 0 22px 0;
         display: inline-block;
         border: none;
         background: #f1f1f1;
         border-radius: 5px;
     }
 
    
 
     input,
     select:focus {
         background-color: #ddd;
       
     }
 
     button {
         background-color: #013243;
         color: white;
         padding: 14px 20px;
         margin: 8px 0;
         border: none;
         cursor: pointer;
         width: 100%;
         opacity: 0.9;
        }
 
     .cancelbtn {
         padding: 14px 20px;
         background-color: #f44336;
     }
 
     .cancelbtn,
     .createbtn {
         float: left;
         width: 40%;
         margin: 12.5px;
         padding: 15px;
         border-radius: 5px;
     }
 
 
     @keyframes animatezoom {
        from {transform: scale(0)} to {transform: scale(1)}
    }
     .form-container {
         display: none;
         position: fixed;
         z-index: 1;
         left: 0;
         top: 0;
         width: 100%;
         height: 100%;
         overflow: auto;
         background-color: rgba(0, 0, 0, 0.5);
         padding-top: 50px;
         overflow: hidden;
         animation: animatezoom 0.6s;
        }
 
 
     /* Form Content/Box */
 
     .form-content {
         max-width: 500px;
         background-color: #fefefe;
         margin: -30px auto 15% auto;
         border: 1px solid #888;
         border-radius: 10px;
         padding: 15px;
         display: grid;
         grid-template-columns: auto auto;
        }
 
 
     .form-content label {
         padding: 20px;
     }
 
 
 
     .close {
         position: absolute;
         right: 35px;
         top: 15px;
         font-size: 40px;
         font-weight: bold;
         color: #f1f1f1;
     }
 
     .close:hover,
     .close:focus {
         color: #f44336;
         cursor: pointer;
     }
 

     .cars-list, .details-list {
        list-style-type: none;
    }

    .cars-list {
        margin-top: 50px;
    }

    .cars-list img{
        width: 250px; 
        border-radius: 6px;
    }

    .details-list li {
        margin-left: -40px;
    }

    .details-list button{
        margin: 5% 15% auto  -10%;
        width: auto;
        padding: 5px;
    }

     .clearfix {
         margin-top: 110px;
         display: flex;
         margin-left: -250px;
        }

    .footer {
        grid-column: span 13;
        grid-row: 6;
    }

    .footer p {
        margin-top: 40%;
        text-align: center;
        font-size: 23px;
        font-weight: bold;
        color: #013243;
    }

}


/* Mobile screen size  Iphon X */

@media only screen and (max-width: 700px) and (orientation: portrait) {


    header .user-options{
        display: none;
    }

    ul > * {
        list-style-type: none;
    }
    
    * {
        outline: none;
    }

    a {
        text-decoration: none;
        color: #000;
    }

    .main-container {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        height: auto;
        overflow: hidden;
    }

    .header {
        display: flex;
        background: #fff;
        grid-column: span 13;
        grid-row: 1;
        height: 60px;
        position: sticky;
        border-bottom: 1px solid #DBE0E4;
        box-shadow: 0 14px 18px rgba(0, 0, 0, 0.10);
    }


    .header .logo {
        display: flex;
        width: 47%;
        height: inherit;
    }

    .header i {
        margin: 20px;
        font-size: 25px;

    }


    /* Hamburger Menu */

    #menuToggle {
        display: block;
        position: relative;
        top: -47px;
        right: -900%;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }

    #menuToggle input {
        display: block;
        width: 30px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
        -webkit-touch-callout: none;
    }


    #menuToggle div{
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #000;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            opacity 0.55s ease;
    }


    #menuToggle div:first-child {
        transform-origin: 0% 0%;
    }

    #menuToggle div:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    #menuToggle input:checked~div {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px); 
        background: #fff;
    }

   
    #menuToggle input:checked~div:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    #menuToggle input:checked~div:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }


    /* Slide it in from top right */
    
    #menu{
        position: absolute;
        width: 300px;
        margin: -100px 0 0 -200px;
        padding: 0 35px 0 50px;
        padding-top: 125px;
        background: #013243;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        transform-origin: top right;
        transform: translate(100%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
        border-radius: 7px;
       
    }

    #menu li {
        padding: 10px;
    }
    #menu li a {
        color: #fff;
    }

    #menuToggle input:checked~ul {
        transform: none;
    }


    .content-container {
        grid-column: span 13;
    }

    .content-container button {
        margin: 10% 25% auto;
        width: 190px;
        padding: 30px;
        border: none;
        cursor: pointer;
        background: #013243;
        color: #fff;
        border-radius: 6px;
    }

    
    .content-container .no-ad p {
        margin-left: 25%;

    }


     /* Ad form */

     input,
     select {
         width: 100%;
         padding: 15px;
         margin: 2px 0 22px 0;
         display: inline-block;
         border: none;
         background: #f1f1f1;
         border-radius: 5px;
     }
 
    
 
     input,
     select:focus {
         background-color: #ddd;
       
     }
 
     button {
         background-color: #013243;
         color: white;
         padding: 14px 20px;
         margin: 8px 0;
         border: none;
         cursor: pointer;
         width: 100%;
         opacity: 0.9;
     }
 
     .cancelbtn {
         padding: 14px 20px;
         background-color: #f44336;
     }
 
     .cancelbtn,
     .createbtn {
         float: left;
         width: 40%;
         margin: 12.5px;
         padding: 15px;
         border-radius: 5px;
     }
 
     @keyframes animatezoom {
        from {transform: scale(0)} to {transform: scale(1)}
    }
     .form-container {
         display: none;
         position: fixed;
         z-index: 1;
         left: 0;
         top: 0;
         width: 100%;
         height: 100%;
         overflow: auto;
         background-color: rgba(0, 0, 0, 0.5);
         padding-top: 50px;
         animation: animatezoom 0.6s;
     }

     .cars-list, .details-list {
        list-style-type: none;
    }

    .cars-list {
        margin-top: 50px;
    }

    .cars-list img{
        width: 250px; 
        border-radius: 6px;
    }

    .details-list li {
        margin-left: -40px;
    }


    .details-list button{
        margin: 5% 15% auto  -10%;
        width: auto;
        padding: 5px;
    }
 
 
     /* Form Content/Box */
 
     .form-content {
         max-width: 500px;
         background-color: #fefefe;
         margin: -30px auto 15% auto;
         border: 1px solid #888;
         border-radius: 10px;
         padding: 15px;
         display: grid;
         grid-template-columns: auto;
     }
 
 
     .form-content label {
         padding: 20px;
     }
 
 
 
     .close {
         position: absolute;
         right: 35px;
         top: 15px;
         font-size: 40px;
         font-weight: bold;
         color: #f1f1f1;
     }
 
     .close:hover,
     .close:focus {
         color: #f44336;
         cursor: pointer;
     }

     .clearfix {
        margin-top: 50px;
        display: flex;
        margin-left: 10px; 
    }

    .clearfix button{
        margin: 10px;
    }
    .footer {
        grid-column: span 13;
        grid-row: 6;
    }

    .footer p {
        margin-top: 95%;
        text-align: center;
        font-size: 23px;
        font-weight: bold;
        color: #013243;
    }


}

/* Extra small mobile screens  */

@media only screen and (min-width: 300px) and (orientation: portrait) {


    header .user-options{
        display: none;
    }

    ul > * {
        list-style-type: none;
    }
    
    * {
        outline: none;
    }

    a {
        text-decoration: none;
        color: #000;
    }

    .main-container {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        height: auto;
        overflow: hidden;
    }

    .header {
        display: flex;
        background: #fff;
        grid-column: span 13;
        grid-row: 1;
        height: 60px;
        position: sticky;
        border-bottom: 1px solid #DBE0E4;
        box-shadow: 0 14px 18px rgba(0, 0, 0, 0.10);
    }


    .header .logo {
        display: flex;
        width: 47%;
        height: inherit;
    }

    .header i {
        margin: 20px;
        font-size: 25px;

    }


    /* Hamburger Menu */

    #menuToggle {
        display: block;
        position: relative;
        top: -47px;
        right: -900%;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }

    #menuToggle input {
        display: block;
        width: 30px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
        -webkit-touch-callout: none;
    }


    #menuToggle div{
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #000;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            opacity 0.55s ease;
    }


    #menuToggle div:first-child {
        transform-origin: 0% 0%;
    }

    #menuToggle div:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    #menuToggle input:checked~div {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px); 
        background: #fff;
    }

   
    #menuToggle input:checked~div:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    #menuToggle input:checked~div:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }


    /* Slide it in from top right */
    
    #menu{
        position: absolute;
        width: 300px;
        margin: -100px 0 0 -200px;
        padding: 0 35px 0 50px;
        padding-top: 125px;
        background: #013243;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        transform-origin: top right;
        transform: translate(100%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
        border-radius: 7px;
       
    }

    #menu li {
        padding: 10px;
    }
    #menu li a {
        color: #fff;
    }

    #menuToggle input:checked~ul {
        transform: none;
    }

    .content-container {
        grid-column: span 13;
    }

    .content-container button {
        margin: 10% 25% auto;
        width: 190px;
        padding: 30px;
        border: none;
        cursor: pointer;
        background: #013243;
        color: #fff;
        border-radius: 6px;
    }

    .content-container .no-ad p {
        margin-left: 25%;

    }



     /* Ad form */

     input{
        width: 100%;
        padding: 15px;
        margin: 5px -10px -24px -10px;
        display: inline-block;
        border: none;
        background: #f1f1f1;
        border-radius: 6px;
    }

    input:focus {
        background-color: #ddd;
    }

    button {
        background-color: #013243;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
        border-radius: 6px;
    }

    .cancelbtn {
        padding: 14px 20px;
        background-color: #f44336;
    }

    .cancelbtn,
    .createbtn {
        float: left;
        width: 40%;
        margin: 13.5px auto;
        padding: 15px;
    }


    @keyframes animatezoom {
        from {transform: scale(0)} to {transform: scale(1)}
    }

    .form-container {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: -15px;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);
        padding-top: 50px;
        animation: animatezoom 0.6s;    

    }


    /* Form Content/Box */

    .form-content {
        background-color: #fefefe;
        margin: 5% auto 15% auto;
        border: 1px solid #888;
        width: 80%;
        border-radius: 10px;
        padding: 15px;
        display: grid; 
        grid-template-columns: auto;
    }


    .form-content label{
        padding: 20px;
    }


    /* Style the horizontal ruler */
    
    hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
    }


    .cancelbtn,
    .createbtn {
        width: 100%;
    }
    

     .close {
         position: absolute;
         right: 35px;
         top: 15px;
         font-size: 40px;
         font-weight: bold;
         color: #f1f1f1;
     }
 
     .close:hover,
     .close:focus {
         color: #f44336;
         cursor: pointer;
     }

     .clearfix {
        margin-top: 50px;
        display: flex;
        margin-left: 10px; 
    }

    .clearfix button{
        margin: 10px;
    }


     .cars-list, .details-list {
        list-style-type: none;
    }

    .cars-list {
        margin-top: 50px;
    }

    .cars-list img{
        width: 250px; 
        border-radius: 6px;
    }

    .details-list li {
        margin-left: -40px;
    }

    .details-list button{
        margin: 5% 15% auto  -10%;
        width: auto;
        padding: 5px;
    }
 
    
    .footer {
        grid-column: span 13;
        grid-row: 6;
    }

    .footer p {
        margin-top: 95%;
        text-align: center;
        font-size: 23px;
        font-weight: bold;
        color: #013243;
    }
}